[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone=+08:00
innodb_buffer_pool_size=256M
innodb_log_buffer_size=16M
max_connections=80
table_open_cache=400
thread_cache_size=16
tmp_table_size=16M
max_heap_table_size=16M
performance_schema=OFF
skip_name_resolve=ON
binlog_expire_logs_seconds=86400
slow_query_log=OFF

[client]
default-character-set=utf8mb4
