spring:
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 1500
            readTimeout: 3000
            loggerLevel: basic
      circuitbreaker.enabled: true
management:
  endpoints.web.exposure.include: health,info,metrics,prometheus
  endpoint.health.probes.enabled: true
ygh:
  retry:
    idempotent-query:
      max-attempts: 2
      initial-backoff: 100ms
    write:
      max-attempts: 1
